<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title><%= title %> </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" href="/images/fevicon.png" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- site css -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="/css/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="/css/colors.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="/css/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="/css/custom.css" />

    <!-- Table -->
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
</head>

<!-- modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tiêu đề</th>
                            <th scope="col" style="text-align: center;">Chi tiết</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% var i = 1  %>
                        <% reply.forEach((rep)=>{%>
                        <tr>
                            <th scope="row">
                                <%= i %>
                            </th>
                            <td>
                                <%= rep.title %>
                            </td>
                            <td style="text-align: center;">
                                <a class=" link-danger" style="text-decoration: none; color: blue;"
                                    href="/reply-detail-<%= rep.id %>">
                                    <i class="fa fa-info"></i> Xem chi tiết
                                </a>
                            </td>
                        </tr>
                        <% i = i +1 %>
                        <%}) %>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<body class="dashboard dashboard_1">
    <div class="full_container">
        <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar_blog_1">
                    <div class="sidebar-header">
                        <div class="logo_section">
                            <a href="/index"><img class="logo_icon img-responsive" src="/images/logo/logo.png"
                                    alt="#" /></a>
                        </div>
                    </div>
                    <div class="sidebar_user_info">
                        <div class="icon_setting"></div>
                        <div class="user_profle_side">
                            <div class="user_img"><img class="img-responsive" src="<%= user.avatarURL %>" alt="#" />
                            </div>
                            <div class="user_info">
                                <h6><%= user.lname %> <%= user.fname %></h6>
                                <p><span class="online_animation"></span> Online</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar_blog_2">
                    <h4> Trường ĐH Bách Khoa</h4>
                    <ul class="list-unstyled components">
                        <li><a href="/index"><i class="fa fa-dashboard yellow_color"></i> <span>Thông báo</span></a>

                        <li>
                            <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                                    class="fa fa-table purple_color2"></i> <span>Sự kiện</span></a>
                            <ul class="collapse list-unstyled" id="element">
                                <li><a href="/event">> <span>Sự kiện mới</span></a></li>
                                <li><a href="/student-event">> <span>Đã tham gia</span></a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                                    class="fa fa-briefcase blue1_color"></i> <span>Đăng ký</span></a>
                            <ul class="collapse list-unstyled" id="apps">
                                <li><a href="/print">> <span>In giấy tờ</span></a></li>
                                <li><a href="/reduce-tuition">> <span>Miễn giảm học phí</span></a></li>
                                <li><a href="/feedback">> <span>Phản ánh chất lượng</span></a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/contact">
                                <i class="fa fa-paper-plane red_color"></i> <span>Liên hệ</span></a>
                        </li>

                        <li><a href="/edit-info"><i class="fa fa-cog yellow_color"></i> <span>Chỉnh sửa thông
                                    tin</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
                <!-- topbar -->
                <div class="topbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="full">
                            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i
                                    class="fa fa-bars"></i></button>

                            <div class="right_topbar">
                                <div class="icon_info">
                                    <ul>
                                        <!-- Edit here to update new attention -->
                                        <li>
                                            <a data-toggle="modal" data-target=".bd-example-modal-lg">
                                                <i class="fa fa-bell-o"></i>
                                                <span class="badge"><%= reply.length %></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/chat">
                                                <i class="fa fa-envelope-o"></i>
                                                <span class="badge"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="user_profile_dd">
                                        <li>
                                            <a class="dropdown-toggle" data-toggle="dropdown"><img
                                                    class="img-responsive rounded-circle" src="<%= user.avatarURL %>"
                                                    alt="#" /><span class="name_user"><%= user.fname %></span></a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="profile.html">My Profile</a>
                                                <a class="dropdown-item" href="/edit-info">Settings</a>
                                                <a class="dropdown-item" href="/contact">Help</a>
                                                <a class="dropdown-item" href="/logout"><span>Log Out</span> <i
                                                        class="fa fa-sign-out"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <!-- end topbar -->