<%- include ('../layouts/consul_header') -%>
<style>
   .chat-online {
      color: #34ce57
   }

   .chat-offline {
      color: #e4606d
   }

   .chat-messages {
      display: flex;
      flex-direction: column;
      max-height: 800px;
      overflow-y: scroll
   }

   .chat-message-left,
   .chat-message-right {
      display: flex;
      flex-shrink: 0
   }

   .chat-message-left {
      margin-right: auto
   }

   .chat-message-right {
      flex-direction: row-reverse;
      margin-left: auto
   }

   .py-3 {
      padding-top: 1rem !important;
      padding-bottom: 1rem !important;
   }

   .px-4 {
      padding-right: 1.5rem !important;
      padding-left: 1.5rem !important;
   }

   .flex-grow-0 {
      flex-grow: 0 !important;
   }

   .border-top {
      border-top: 1px solid #dee2e6 !important;
   }

   strong {
      font-weight: bold;
   }
</style>
<!-- dashboard inner -->
<div class="midde_cont">
   <div class="container-fluid">
      <main class="content">
         <div class="container p-0">

            <h1 class="h3 mb-3 mt-3">Tin nhắn</h1>

            <div class="card">
               <div class="row g-0">
                  <div class="col-12 col-lg-5 col-xl-3 border-right">

                     <div class="px-4 d-none d-md-block">
                        <div class="d-flex align-items-center">
                           <div class="flex-grow-1">
                              <input type="text" class="form-control my-3" placeholder="Search...">
                           </div>
                        </div>
                     </div>
                     <% students.forEach(function(s){%>
                     <a href="/consul/chat/detail/<%= s.id %>" class="list-group-item list-group-item-action border-0">
                        <div class="badge bg-success float-right"></div>
                        <div class="d-flex align-items-start">
                           <img src="/images/logo/avatar.png" class="rounded-circle mr-1" alt="Vanessa Tucker"
                              width="40" height="40">
                           <div class="flex-grow-1 ml-3">
                              <%= s.lname %> <%= s.fname %>
                              <div class="small"><span class="fas fa-circle chat-online"></span> Online</div>
                           </div>
                        </div>
                     </a>
                     <%}) %>


                     <hr class="d-block d-lg-none mt-1 mb-0">
                  </div>
                  <div class="col-12 col-lg-7 col-xl-9">
                     <div class="py-2 px-4 border-bottom d-none d-lg-block">
                        <div class="d-flex align-items-center py-1">
                           <div class="position-relative">
                              <img src="/images/logo/avatar.png" class="rounded-circle mr-1"
                                 alt="<%= detailStudent.fname %>" width="40" height="40">
                           </div>
                           <div class="flex-grow-1 pl-3">
                              <strong><%= detailStudent.lname %> <%= detailStudent.fname %></strong>
                              <div class="text-muted small"><em>Đang chờ...</em></div>
                           </div>

                        </div>
                     </div>

                     <div class="position-relative">
                        <div class="chat-messages p-4" style="height: 35rem;">
                           <% messages.forEach(function(m){%>
                           <% if(m.qoa == 1){%>
                           <div class="chat-message-right pb-4">
                              <div>
                                 <img src="<%= user.avatarURL %>" class="rounded-circle mr-1" alt="Chris Wood"
                                    width="40" height="40">
                                 <div class="text-muted small text-nowrap"><%= m.time %></div>
                                 <div class="text-muted small text-nowrap"><%= convertDate(m.Day) %></div>
                              </div>
                              <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                 <div class="font-weight-bold mb-1">Bạn</div>
                                 <%= m.content %>
                              </div>
                           </div>
                           <%}else{%>
                           <div class="chat-message-left pb-4">
                              <div>
                                 <img src="/images/logo/avatar.png" class="rounded-circle mr-1" alt="Sharon Lessman"
                                    width="40" height="40">
                                 <div class="text-muted small text-nowrap"><%= m.time %></div>
                                 <div class="text-muted small text-nowrap "><%= convertDate(m.Day) %></div>
                              </div>
                              <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                 <div class="font-weight-bold mb-1"><%= detailStudent.lname %>
                                    <%= detailStudent.fname %>
                                 </div>
                                 <%= m.content %>
                              </div>
                           </div>
                           <%} %>
                           <%}) %>




                        </div>
                     </div>

                     <div class="flex-grow-0 py-3 px-4 border-top">
                        <form method="post" action="/consul/chat/send-mess/<%= detailStudent.id %>">
                           <div class="input-group">
                              <input type="text" name="content" class="form-control" placeholder="Nhập tin nhắn">
                              <button type="submit" class="btn btn-primary">Gửi</button>

                           </div>
                        </form>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </main>
   </div>
</div>
<!-- end column contact blog -->

<%- include ('../layouts/footer') -%>