<%- include ('layouts/header') -%>

<!-- dashboard inner -->
<div class="midde_cont">
   <div class="container-fluid">
      <div class="row column_title">
         <div class="col-md-12">
            <div class="page_title">
               <h2>Sự kiện</h2>
            </div>
         </div>
      </div>

      <div class="row">

         <!-- tab style 2 -->
         <% events.forEach(function(event){%>
         <div class="col-md-6">
            <div class="white_shd full margin_bottom_30">
               <div class="full graph_head">
                  <div class="heading1 margin_0">
                     <h2><%= event.title %> </h2>
                  </div>
               </div>
               <div class="full inner_elements">
                  <div class="row">
                     <div class="col-md-12 padding_infor_info">
                        <img style="height: 18rem;" src="<%= event.image_url %>" alt="">
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <div class="tab_style2">
                           <div class="tabbar padding_infor_info">
                              <nav>
                                 <div class="nav nav-tabs" id="nav-tab1" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab2" data-toggle="tab"
                                       href="#nav-home_<%= event.id %>" role="tab" aria-controls="nav-home_s2"
                                       aria-selected="true">Đối tượng</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab2" data-toggle="tab"
                                       href="#nav-profile_<%= event.id %>" role="tab" aria-controls="nav-profile_s2"
                                       aria-selected="false">Thời gian</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab2" data-toggle="tab"
                                       href="#nav-contact_<%= event.id %>" role="tab" aria-controls="nav-contacts_s2"
                                       aria-selected="false">Chi tiết</a>
                                    <a href="/register-event/<%= event.id %>" class="btn btn-primary">Đăng ký</a>
                                 </div>
                              </nav>
                              <div class="tab-content" id="nav-tabContent_2">
                                 <div class="tab-pane fade show active" id="nav-home_<%= event.id %>" role="tabpanel"
                                    aria-labelledby="nav-home-tab">
                                    <p><%= event.forwho %>
                                    </p>
                                 </div>
                                 <div class="tab-pane fade" id="nav-profile_<%= event.id %>" role="tabpanel"
                                    aria-labelledby="nav-profile-tab">
                                    <p><%= event.time_happen %>
                                    </p>
                                 </div>
                                 <div class="tab-pane fade" id="nav-contact_<%= event.id %>" role="tabpanel"
                                    aria-labelledby="nav-contact-tab">
                                    <p><%= event.content %></p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>
            </div>
         </div>
         <%}) %>


      </div>

   </div>

   <!-- end dashboard inner -->

   <%- include ('layouts/footer') -%>