<%- include ('layouts/header') -%>
<style>
    a i {
        color: white;
    }
</style>
<!-- modal xem các document đã đăng ký và trạng thái của chúng -->
<div class="modal fade" id="view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Danh sách yêu cầu đã gửi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table" style="font-weight: 500; color: black;">
                    <thead style="color: blue; font-weight: 700;">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Loại giấy tờ</th>
                            <th scope="col">Trạng thái</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% var i = 1 %>
                        <% requestData.forEach((request)=>{ %>
                        <tr>
                            <th scope="row">
                                <%= i %>
                            </th>
                            <td>
                                <%= request.docType %>
                            </td>
                            <td>
                                <%= request.status %>
                            </td>
                        </tr>
                        <% i += 1 %>
                        <% }) %>

                    </tbody>
                </table>
                <p style="color: black; font-weight: 600;">Số yêu cầu đã gửi:
                    <%= requestNumber %>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


<div class="col-md-12 mt-4 mb-xl-5">
    <div class="dash_blog">
        <div class="dash_blog_inner">
            <div class="dash_head ">
                <h3><span><i class="fa fa-file-text-o"></i> Đăng ký in giấy tờ</span></h3>
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#view">Xem các yêu cầu đã
                    đăng ký</button>
                <div style="height:10px"></div>
            </div>
            <form class="mt-4 container-fluid mt-5" method="post" action="/print">
                <!-- Name input -->

                <div class="row">

                    <div class="form-outline mb-4 col-xl-4">
                        <input name="fullName" disabled type="text" id="fullName" class="form-control border-primary"
                            value="<%= user.lname %> <%= user.fname%>" />
                        <label class="form-label" for="fullName">Họ và Tên</label>
                    </div>

                    <!-- Mssv input -->
                    <div class="form-outline mb-4 col-xl-4">
                        <input name="mssv" disabled type="text" id="mssv" class="form-control border-primary"
                            value="<%= user.id %>" />
                        <label class="form-label" for="mssv">Mã số sinh viên</label>
                    </div>

                    <!-- Nhập Ngày sinh -->
                    <div class="form-outline mb-4 col-xl-4">
                        <input name="bdate" disabled type="text" id="bdate" class="form-control border-primary"
                            value="<%= user.id %>" />
                        <label class="form-label" for="bdate">Ngày sinh</label>
                    </div>
                </div>

                <div class="row">

                    <!-- Nhập hộ khẩu thường trú -->
                    <div class="form-outline mb-4 col-xl-4">
                        <input disabled type="text" name="address" id="address" class="form-control border-primary"
                            value="<%= user.ApartmentNumber %>, <%= user.Street %>, <%= user.province %>" />
                        <label class="form-label" for="address">Hộ khẩu thường trú</label>
                    </div>

                    <!-- Chương trình học -->
                    <div class="form-outline mb-4 col-xl-4">
                        <input value="<%= user.EduProgram %>" disabled type="text" name="program" id="program"
                            class="form-control border-primary" />
                        <label class="form-label" for="program">Chương trình học</label>
                    </div>

                    <!-- Khoa -->
                    <div class="form-outline mb-4 col-xl-4">
                        <input value="<%= facultyData.falName %>" disabled type="text" name="faculty" id="faculty"
                            class="form-control border-primary" />
                        <label class="form-label" for="faculty">Khoa</label>
                    </div>
                </div>

                <div class="row mb-5 ml-3">
                    Thông tin này sẽ được dùng để in giấy tờ, nếu thông tin không đúng bạn có thể cập nhật <a
                        href="/edit-info" style="color: blue;"> Tại đây</a>.
                </div>

                <div class="row">

                    <div class="form-group col-xl-12 border-primary">
                        <select class="form-control" id="exampleFormControlSelect1" name="docType">
                            <option value="Thẻ sinh viên">Thẻ Sinh viên (50.000 VNĐ)</option>
                            <option value="Bảng điểm">Bảng điểm (30.000 VNĐ)</option>
                            <option value="Bảng điểm học ky">Bảng điểm Học kỳ (5.000 VNĐ)</option>
                            <option value="Chứng nhận sinh viên">Chứng nhận sinh viên</option>
                            <option value="Hoãn nghĩa vụ quân sụ">Hoãn nghĩa vụ quân sự</option>
                        </select>
                        <label for="exampleFormControlSelect1">Chọn loại giấy tờ</label>
                    </div>

                </div>

                <div class="row">
                    <div class="form-outline mb-4 col-xl-6">
                        <input required type="text" name="rname" id="rname" class="form-control border-primary" />
                        <label for="rname">Họ và tên người nhận</label>
                    </div>
                    <div class="form-outline mb-4 col-xl-6">
                        <input required type="text" name="rphone" id="rphone" class="form-control border-primary" />
                        <label class="form-label" for="rphone">Số điện thoại</label>
                    </div>
                </div>

                <div class="row">
                    <div class="form-outline mb-4 col-xl-12">
                        <input required type="text" name="raddress" id="raddress" class="form-control border-primary" />
                        <label class="form-label" for="raddress">Địa chỉ người nhận</label>
                    </div>
                </div>

                <!-- Submit button -->
                <div class="row">
                    <div class="col-3"></div>
                    <button type="button" class="col-6 btn btn-primary btn-block mb-4" data-toggle="modal"
                        data-target="#modal2">Xác nhận đăng ký</button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modal2"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="">Thông báo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Đã gửi yêu cầu đăng ký
                            </div>
                            <div class="modal-footer">

                                <button type="submit" class="btn btn-primary">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end modal -->
            </form>
        </div>
    </div>
</div>

<%- include ('layouts/footer') -%>