<%- include ('../layouts/staff_header') -%>

<!-- dashboard inner -->
<div class="midde_cont">
   <div class="container-fluid">
      <div class="row column_title">
         <div class="col-md-12">
            <div class="page_title">
               <h2>Thêm thông báo mới</h2>
            </div>
         </div>
      </div>
      <div>
         <a href="/staff/list-noti" class="btn btn-primary">Quay về danh sách</a>
      </div>
      <div style="background-color: #D1E8E4; padding: 1rem; margin-top: 2rem;">
         <form method="post" accept="/staff/noti/edit-noti/<%= noti.id %>">
            <div class="form-group">
               <label for="">Tiêu đề thông báo</label>
               <input type="text" class="form-control" name="title" value="<%= noti.title %>">
            </div>
            <div class="form-group">
               <label for="">Đối tượng</label>
               <input type="text" class="form-control" name="forwho" value="<%= noti.forwho %>">
            </div>
            <div class="form-row">
               <div class="form-group col-md-6">
                  <label for="">Thời gian</label>
                  <input type="text" class="form-control" name="time_happen" value="<%= noti.time_happen %>">
               </div>
               <div class="form-group col-md-6">
                  <label for="">Thời gian ẩn (Hiện tại: <%= noti.etime %>)</label>
                  <input type="date" class="form-control" name="etime">
               </div>
            </div>
            <label for="">Nội dung thông báo</label>
            <div class="form-floating">
               <textarea class="form-control" id="floatingTextarea2" name="content"
                  style="height: 10rem"><%= noti.content %></textarea>

            </div>

            <button type="submit" class="btn btn-primary mt-3">Cập nhật thông báo</button>
         </form>


      </div>

   </div>

   <!-- end dashboard inner -->

   <%- include ('../layouts/footer') -%>