<%- include ('../layouts/staff_header') -%>

    <!-- dashboard inner -->
    <div class="midde_cont">
        <div class="container-fluid">
            <!-- <div>
                <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
                    <strong>Thành công!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div> -->
            <div class="row column_title">
                <div class="col-md-12">
                    <div class="page_title">
                        <h2>Danh sách các phản hồi chất lượng</h2>
                    </div>
                </div>
            </div>
            <div>
                <table id="datatablesSimple" style="background-color: #FFF5FD;">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Sinh viên gửi</th>
                            <th>Tiêu đề</th>

                            <th style="text-align: center;">Xem chi tiết</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let i = 1; %>
                            <% feedbacks.forEach((feedback)=>{%>
                                <tr>
                                    <td>
                                        <%= i %>
                                    </td>

                                    <td>
                                        <%= feedback.fullname %>

                                    </td>
                                    <td>
                                        <%= feedback.title %>
                                    </td>

                                    <td style="text-align: center; color: blue;">
                                        <a class=" link-danger" style="text-decoration: none; color: blue;" href="/staff/feedback/detail-feedback-<%= feedback.id %>">
                                            <i class="fa fa-info"></i> Xem chi tiết
                                        </a>
                                    </td>
                                </tr>
                                <% i+=1; %>
                                    <%});%>

                    </tbody>
                </table>
            </div>

        </div>

        <!-- end dashboard inner -->

        <%- include ('../layouts/footer') -%>