<%- include ('../layouts/staff_header') -%>

<!-- dashboard inner -->
<div class="midde_cont">
   <div class="container-fluid">
      <div>
         <div class="alert alert-success alert-dismissible fade show mt-4" <%= hidden %> role="alert">
            <strong>Thành công!</strong> <%= message %>.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
      </div>
      <div class="row column_title">
         <div class="col-md-12">
            <div class="page_title">
               <h2>Danh sách các sự kiện</h2>
            </div>
         </div>
      </div>
      <div>
         <a href="/staff/add-event" class="btn btn-primary">Thêm sự kiện mới</a>
      </div>
      <div>
         <table id="datatablesSimple" style="background-color: #FFF5FD;">
            <thead>
               <tr>
                  <th>STT</th>
                  <th>Ảnh</th>
                  <th>Tiêu đề</th>
                  <th>Thời gian ẩn</th>
                  <th style="text-align: center;">Thao tác</th>
                  <th style="text-align: center;">Ẩn/Hiện</th>
               </tr>
            </thead>
            <tfoot>
               <tr>
                  <th>STT</th>
                  <th>Ảnh</th>
                  <th>Tiêu đề</th>
                  <th>Thời gian ẩn</th>
                  <th style="text-align: center;">Thao tác</th>
                  <th style="text-align: center;">Ẩn/Hiện</th>
               </tr>
            </tfoot>
            <tbody>
               <% let i = 1; %>
               <% events.forEach(function(event){%>
               <tr>
                  <td><%= i %> </td>
                  <td><img src="<%= event.imageURL %>" alt="" style="height: 5rem; width: 6rem;"></td>
                  <td><%= event.title %></td>
                  <td><%= event.etime %></td>
                  <td style="text-align: center;">
                     <a class=" link-info" style="text-decoration: none;" href="/staff/event/edit-event/<%=event.id%>">
                        <i class="fa fa-edit"></i>
                        Sửa
                     </a>
                     -
                     <a class="link-danger" style="text-decoration: none; color: red;" data-bs-toggle="modal"
                        data-bs-target="#deleteModal<%= event.id %>">
                        <i class="fa fa-trash"></i>
                        Xóa
                     </a>
                     <!-- Modal -->
                     <div class="modal fade" id="deleteModal<%= event.id %>" tabindex="-1"
                        aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h5 class="modal-title" id="deleteModalLabel">Xóa thông báo</h5>
                                 <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                 Chắc chắn xóa thông báo này?
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                 <button type="submit" class="btn btn-primary">
                                    <a style="text-decoration: none; color: white;"
                                       href="/staff/event/delete-event/<%=event.id%>">Xóa</a>
                                 </button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </td>
                  <td style="text-align: center;">
                     <% if(event.nstatus == 'off'){%>
                     <a class=" link-info" style="text-decoration: none;" href="/staff/event/status-on/<%=event.id%>">
                        <i class="fa fa-eye-slash"></i>
                     </a>
                     <%}else{%>
                     <a class="link-danger" style="text-decoration: none; font-size: 1.5rem; color: #5C7AEA;"
                        data-bs-toggle="modal" data-bs-target="#statusModal<%= event.id %>">
                        <i class="fa fa-eye"></i>
                     </a>
                     <!-- Modal -->
                     <div class="modal fade" id="statusModal<%= event.id %>" tabindex="-1"
                        aria-labelledby="statusModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h5 class="modal-title" id="statusModalLabel">Ẩn thông báo</h5>
                                 <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                 Chắc chắn ẩn thông báo này khỏi Trang chủ?
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                 <button type="submit" class="btn btn-primary">
                                    <a style="text-decoration: none; color: white;"
                                       href="/staff/event/status-off/<%=event.id%>">Ẩn</a>
                                 </button>
                              </div>
                           </div>
                        </div>
                     </div>

                     <%} %>

                  </td>

               </tr>
               <% i+=1; %>
               <%}) %>

            </tbody>
         </table>
      </div>

   </div>

   <!-- end dashboard inner -->

   <%- include ('../layouts/footer') -%>