<%- include ('../layouts/staff_header') -%>
    <!-- css mới: -->
    <style>
        body {
            margin-top: 20px;
        }
        
        .icon-box.medium {
            font-size: 20px;
            width: 50px;
            height: 50px;
            line-height: 50px;
        }
        
        .icon-box {
            font-size: 30px;
            margin-bottom: 33px;
            display: inline-block;
            color: #ffffff;
            height: 65px;
            width: 65px;
            line-height: 65px;
            background-color: #59b73f;
            text-align: center;
            border-radius: 0.3rem;
        }
        
        .social-icon-style2 li a {
            display: inline-block;
            font-size: 14px;
            text-align: center;
            color: #ffffff;
            background: #59b73f;
            height: 41px;
            line-height: 41px;
            width: 41px;
        }
        
        .rounded-3 {
            border-radius: 0.3rem !important;
        }
        
        .social-icon-style2 {
            margin-bottom: 0;
            display: inline-block;
            padding-left: 10px;
            list-style: none;
        }
        
        .social-icon-style2 li {
            vertical-align: middle;
            display: inline-block;
            margin-right: 5px;
        }
        
        a,
        a:active,
        a:focus {
            color: #616161;
            text-decoration: none;
            transition-timing-function: ease-in-out;
            -ms-transition-timing-function: ease-in-out;
            -moz-transition-timing-function: ease-in-out;
            -webkit-transition-timing-function: ease-in-out;
            -o-transition-timing-function: ease-in-out;
            transition-duration: .2s;
            -ms-transition-duration: .2s;
            -moz-transition-duration: .2s;
            -webkit-transition-duration: .2s;
            -o-transition-duration: .2s;
        }
        
        .text-secondary,
        .text-secondary-hover:hover {
            color: #59b73f !important;
        }
        
        .display-25 {
            font-size: 1.4rem;
        }
        
        .text-primary,
        .text-primary-hover:hover {
            color: #ff712a !important;
        }
        
        p {
            margin: 0 0 20px;
        }
        
        .mb-1-6,
        .my-1-6 {
            margin-bottom: 1.6rem;
        }
    </style>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
                <div class="card border-0 shadow">
                    <img src="<%= studentInfo.avatarURL %>" alt="Ảnh chân dung">
                    <div class="card-body p-1-9 p-xl-5">
                        <div class="mb-4">
                            <h3 class="h4 mb-0">
                                <%= studentInfo.lname %>
                                    <%= studentInfo.fname %>
                            </h3>
                            <span class="text-primary"><%= fal.falName %></span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-3"><a href="#!"><i class="far fa-envelope display-25 me-3 text-secondary"></i><%= studentInfo.Edu_mail %></a></li>
                            <% phones.forEach((phone)=>{ %>
                                <li class="mb-3"><a href="#!"><i class="fas fa-mobile-alt display-25 me-3 text-secondary"></i><%= phone.PHONE %>
                                </a>
                                </li>
                                <%  }) %>

                                    <li><a href="#!"><i class="fas fa-map-marker-alt display-25 me-3 text-secondary"></i><%= studentInfo.ApartmentNumber %>, <%= studentInfo.Street %>, <%= studentInfo.province %></a></li>
                        </ul>
                        <div class="mb-4">
                            <h3 class="h4 mb-1">
                                Người thân:
                            </h3>
                            <% relations.forEach((relation)=>{ %>
                                <h4>
                                    <%= relation.relationship %>: </h4>
                                <p class="mt-0 mb-0">Tên:
                                    <%= relation.name %>
                                </p>
                                <p class="mt-0 mb-0">SĐT:
                                    <%= relation.phone %>
                                </p>
                                <p>Đ/c:
                                    <%= relation.address %>
                                </p>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="ps-lg-1-6 ps-xl-5">
                    <div class="mb-5 wow fadeIn">
                        <div class="text-start mb-1-6 wow fadeIn">
                            <h2 class="h1 mb-0 text-primary">
                                <%= requestInfo.title %>
                            </h2>
                        </div>
                        <p>
                            <%= requestInfo.content %>
                        </p>

                    </div>
                    <div class="mb-5 wow fadeIn">
                        <div class="text-start mb-1-6 wow fadeIn">
                            <h2 class="mb-0 text-primary">Tùy chọn</h2>
                        </div>
                        <div class="table mt-4">
                            <div class="row">
                                <form action="post">

                                    <label for="exampleFormControlTextarea1">Nội dung gửi đến sinh viên:</label>
                                    <textarea required name="content" class="form-control mb-2" id="exampleFormControlTextarea1" rows="3"></textarea>

                                    <input type="text" hidden name="studentID" value="<%= studentInfo.id %>">
                                    <button type="submit" formmethod="post" formaction="/staff/tuition/detail-request-<%= requestInfo.id %>/accept-request" class="btn btn-primary btn-lg btn-block" style="background-color: dodgerblue;">Duyệt yêu cầu này</button>
                                    <button type="submit" formmethod="post" formaction="/staff/tuition/detail-request-<%= requestInfo.id %>/reject-request" class="btn btn-secondary btn-lg btn-block" style="background-color: #616161;">Từ chối yêu cầu này</button>
                                    <button type="submit" formmethod="post" formaction="/staff/tuition/delete-request-<%= requestInfo.id %>" class="btn btn-secondary btn-lg btn-block" style="background-color: #616161;">Xóa yêu cầu này</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <%- include ('../layouts/footer') -%>