<%- include ('../layouts/staff_header') -%>
<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>My Profile</h2>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row column1">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>My profile</h2>
                        </div>
                    </div>
                    <div class="full price_table padding_infor_info">
                        <div class="row">
                            <!-- user profile section -->
                            <!-- profile image -->
                            <div class="col-lg-12">
                                <div class="full dis_flex center_text">
                                    <div class="profile_img"><img width="180" class="rounded-circle"
                                            src="/images/logo/staff_avatar.png" alt="#" /></div>
                                    <div class="profile_contant">
                                        <div class="contact_inner">
                                            <h3><%= user.lname %> <%= user.fname %></h3>
                                            <% if(user.id <=10){%>
                                            <p><strong>Chức vụ: </strong>Nhân viên Khoa</p>
                                            <%}else{%>
                                            <p><strong>Chức vụ: </strong>Tư vấn viên</p>
                                            <%} %>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-envelope-o"></i> : <%= user.Edu_mail %> </li>

                                            </ul>
                                        </div>
                                        <div class="user_progress_bar">
                                            <div class="progress_bar">
                                                <!-- Skill Bars -->
                                                <span class="skill" style="width:85%;">Web Applications <span
                                                        class="info_valume">85%</span></span>
                                                <div class="progress skill-bar ">
                                                    <div class="progress-bar progress-bar-animated progress-bar-striped"
                                                        role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                                        aria-valuemax="100" style="width: 85%;">
                                                    </div>
                                                </div>
                                                <span class="skill" style="width:78%;">Website Design <span
                                                        class="info_valume">78%</span></span>
                                                <div class="progress skill-bar">
                                                    <div class="progress-bar progress-bar-animated progress-bar-striped"
                                                        role="progressbar" aria-valuenow="78" aria-valuemin="0"
                                                        aria-valuemax="100" style="width: 78%;">
                                                    </div>
                                                </div>
                                                <span class="skill" style="width:47%;">Automation & Testing <span
                                                        class="info_valume">47%</span></span>
                                                <div class="progress skill-bar">
                                                    <div class="progress-bar progress-bar-animated progress-bar-striped"
                                                        role="progressbar" aria-valuenow="54" aria-valuemin="0"
                                                        aria-valuemax="100" style="width: 54%;">
                                                    </div>
                                                </div>
                                                <span class="skill" style="width:65%;">UI / UX <span
                                                        class="info_valume">65%</span></span>
                                                <div class="progress skill-bar">
                                                    <div class="progress-bar progress-bar-animated progress-bar-striped"
                                                        role="progressbar" aria-valuenow="65" aria-valuemin="0"
                                                        aria-valuemax="100" style="width: 65%;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <!-- end row -->
        </div>

        <!-- end dashboard inner -->


        <%- include ('../layouts/footer') -%>